<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>TETRIS</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="icon" href="img/TETRIS_icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Doto:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('./components/start-screen.html') %> <%-
    include('./components/header.html') %>
    <div class="main-container">
      <%- include('./components/left-block.html') %> <%-
      include('./components/center-block.html') %> <%-
      include('./components/right-block.html') %>
    </div>
    <script type="module" src="main.js"></script>
  </body>
</html>
